html {
	background: #231e1e;
	color: #c2bfbf;
}

a {
	text-decoration: none;
}

#container {
	margin: auto;
	max-width: 640px;
	padding: 17px 10px 9px;
}

#main {
	margin-bottom: 7px;
}

header {
	margin-bottom: 9px;

	.icon-search {
		display: block;
		padding: 0 7px;
		position: relative;

		&:before {
			position: absolute;
			left: 20px;
			top: 8px;
		}
	}

	input {
		display: block;
		background-image: linear-gradient(top, #353c46, #3d4551);
		border: 1px solid #676464;
		border-radius: 4px;
		color: #b7b5b5;
		font-size: 14px;
		line-height: 30px;
		padding-left: 40px;
		width: 100%;
	}
}

footer {
	background: #1d1e1f;
	height: 45px;

	.share {
		float: right;

		&:before {
			content: 'SHARE';
			font-size: 12px;
			color: #FFF;
			position: relative;
			top: -15px;
		}

		.icon-facebook,
		.icon-twitter {
			width: 40px;
			height: 40px;
			display: inline-block;
			overflow: hidden;

			&:before {
				color: #55aecc;
				font-size: 22px;
				padding: 10px;
			}
		}

		.icon-facebook {

			&:before {
				color: #3b5998;
				font-size: 22px;
				padding: 10px;
			}
		}
	}

}

.flyout {
	display: none;
}