<a href="#" class="h-card">
	<strong class="fn">Favorites Forever Movie Theater</strong>
	<em class="adr">
		<span class="street-address">1234 E Entertainment Way</span>
		<span class="locality">Santa Monica</span>,
		<span class="region">CA</span>
		<span class="postal-code">90212</span>
	</em>
</a>
<h1>Showings <em>7/29/2014</em></h1>
<ul>
	<li>
		<strong>Fantasia <em class="rating">g</em></strong>
		<ul class="showtimes">
			<li><strong>3:00</strong>pm</li>
			<li><strong>3:30</strong>pm</li>
			<li><strong>7:15</strong>pm</li>
			<li><strong>7:45</strong>pm</li>
		</ul>
	</li>
	<li>
		<strong>Edward Scissorhands <em class="rating">pg</em></strong>
		<ul class="showtimes">
			<li><strong>3:00</strong>pm</li>
			<li><strong>3:30</strong>pm</li>
			<li><strong>7:15</strong>pm</li>
			<li><strong>7:45</strong>pm</li>
		</ul>
	</li>
	<li>
		<strong>The Burbs <em class="rating">pg-13</em></strong>
		<ul class="showtimes">
			<li><strong>5:00</strong>pm</li>
			<li><strong>5:30</strong>pm</li>
			<li><strong>7:15</strong>pm</li>
			<li><strong>7:45</strong>pm</li>
		</ul>
	</li>
	<li>
		<strong>True Romance <em class="rating">r</em></strong>
		<ul class="showtimes">
			<li><strong>7:00</strong>pm</li>
			<li><strong>7:45</strong>pm</li>
			<li><strong>9:45</strong>pm</li>
			<li><strong>10:15</strong>pm</li>
		</ul>
	</li>
</ul>