@import url(http://fonts.googleapis.com/css?family=Roboto);
$roboto : "Roboto", sans-serif;

body {
	font-family: $roboto;
}

h1 {
	color: #c2bfbf;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;

	em {
		display: inline-block;
		float: right;
	}
}
